.mobile {
	display: none;

	@include respond(tab-port) {
		display: block;
		position: fixed;
		top: 16rem;
		left: 5rem;
		z-index: 200;
		width: 100%;
		height: 100%;
		transition: transform 0.5s ease-out;
		// background: blue;
	}

	&--open {
		transform: translateX(0);
	}
	&--close {
		transform: translateX(-110%);
	}
	&__backdrop {
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 100;
		background: linear-gradient(rgba(0, 0, 0, 0.8), rgba($ct-orange, 0.5));
		// background: linear-gradient(black, white);
		// transition: all 0.5s ease-out;
	}

	&__list {
		padding-left: 3rem;
		font-size: 2rem;
		list-style: none;
		width: 100%;
		// background: coral;

		&__item {
			margin-bottom: 1rem;
		}
	}

	&__link {
		color: white;

		display: block;
		text-decoration: none;
		padding: 0.8rem 1.5rem;
		// background: #777;
		// color: white;
	}

	.mobile__cart__container {
		display: flex;
		align-items: center;
		// justify-content: center;
		svg {
			margin-left: 1rem;
			margin-bottom: 0.2rem;
			// color: black;
			height: 3rem;
			width: 3rem;
		}
	}
}
