.membership-page {
	// background: linear-gradient(rgba($mono-black-900, 0.3), $ct-orange);
	max-width: 130rem;
	margin: 0 auto;
	width: 100%;

	.banner {
		// width: 100vw;
		height: 50rem;
		background: url('../../assets/images/Shoulder-Back-Pose-1109.jpeg');
		@include bg-no-repeat;
		position: relative;
		margin-bottom: 5rem;
	}
	//baner end

	.membership-tiers {
		display: grid;
		justify-content: center;
		margin: 0 auto;
		grid-template-columns: repeat(auto-fit, minmax(26rem, 36rem));
		grid-gap: 2rem;

		.tier {
			box-shadow: $base-box-shadow;
			// width: ;
			height: 35rem;
			padding: 2rem 3rem;
			border-radius: 0.5rem;

			.tier-card-top {
				margin-bottom: 1.2rem;
				font-size: 1.8rem;
			}

			.tier-card-body {
				line-height: 1.5;
				margin-bottom: 2.5rem;
				font-size: 1.4rem;
			}
			button {
				background: $mono-black-100;
				color: $mono-black-900;
				padding: 1.5rem 3rem;
				cursor: pointer;
				font-size: 1.4rem;
			}
		}

		.basic-tier {
			background: $mono-black-700;
		}

		.silver-tier {
			background: #ced2dc;
		}
		.gold-tier {
			background: goldenrod;
		}
	}

	.benefits-wrapper {
		width: 100%;
		padding: 3rem;
		text-align: center;
		padding-bottom: 20rem;

		.top {
			margin: 3rem 0;
			width: 100%;
			// background: grey;

			h3 {
				font-size: 2.4rem;
				color: $mono-black-300;
				margin-bottom: 2rem;
			}

			.top-lists {
				padding: 0 0 0 3rem;
				max-width: 75rem;
				margin: 0 auto;
				font-size: 2rem;
				@include flex-center-column;

				@include screen-min(768px) {
					flex-direction: row;
					justify-content: space-between;
				}

				ul {
					list-style: none;

					li {
						margin-bottom: 0.8rem;
						display: flex;
						svg {
							margin-right: 2rem;
						}
					}
				}
			}
		}

		.middle {
			font-size: 2.4rem;
			color: $mono-black-300;
			margin-bottom: 2rem;

			h3 {
				margin-bottom: 2rem;
			}

			span {
				color: $ct-red;
			}

			p {
				color: $ct-black;
				font-size: 1.6rem;
				line-height: 1.7;
				max-width: 60rem;
				margin: 0 auto;
			}

			button {
				margin: 4rem;
				padding: 1.5rem 2.5rem;
				background: $ct-orange;
				color: $ct-dark-blue;
				cursor: pointer;
			}
		}

		.bottom {
			width: 100%;
			// height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			// background: grey;

			h3 {
				margin-bottom: 4rem;
				font-size: 2.4rem;
				color: $mono-black-300;
			}

			.location-card-wrapper {
				width: 100%;
				display: grid;
				justify-content: center;
				grid-template-columns: repeat(auto-fit, minmax(9rem, 22rem));
				grid-gap: 2rem;
			}

			.card {
				height: 20rem;
				width: 20rem;
				padding: 10px;
				border: 1px solid rgba(0, 0, 0, 0.608);
				box-shadow: $base-box-shadow;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: flex-start;
				flex-wrap: wrap;
				line-height: 1.5;
				cursor: pointer;
				transition: scale 0.6s ease;
				p {
					font-size: 1.4rem;
				}

				&:hover {
					transform: scale(1.02);
				}

				a {
					margin-top: 0.5rem;
					font-size: 1.4rem;
					background: rgba($mono-black-200, 0.05);
					// border: 0.2rem solid black;
					padding: 1rem;
					color: $mono-black-300;

					&:hover {
						border: none;
						// font-weight: 600;
						color: $ct-orange;
						background: $mono-black-300;
					}
				}
			}
		}
	}
	//benefits end
}
